@use '../../styles/config';

:global {
  * {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .label1 {
    font-size: 1.2rem;
  }
}

.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: config.$main-txt-color;
}
