@use '../../styles/config';

.converter {
  &--content {
    position: relative;

    &__from {
      background-color: config.$black;
    }

    &__additional {
      position: absolute;
      top: calc(50% - 17px);
      text-align: center;
      width: 100%;

      &--toggle {
        position: absolute;
        left: 20px;
      }
    }

    &__action {
      padding: 0 50px 25px;
    }
  }
}
